@page "/counter"


<MudContainer >

    <MudGrid>
        <MudItem xs="1" sm="6" md="4" lg="3" xl="2">
            <p>Content 1</p>
        </MudItem>
        <MudItem xs="1" sm="6" md="4" lg="3" xl="2">
            
        </MudItem>
        <MudItem xs="1" sm="6" md="4" lg="3" xl="2">
            <p>Content 3</p>
        </MudItem>
        <MudItem xs="1" sm="6" md="4" lg="3" xl="2">
            <p>Content 4</p>
        </MudItem>
    </MudGrid>
</MudContainer>
<MudText Typo="Typo.h3" GutterBottom="true">History</MudText>
<MudList T="object">
    <MudListItem T="object">
        <MudIcon Icon="@Icons.Material.Filled.Inbox" />
        <MudText>Inbox</MudText>
        <MudText Class="ml-auto" Typo="Typo.caption">10</MudText>
    </MudListItem>
</MudList>
<MudText Class="mb-4">Current count: @currentCount</MudText>

<MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="IncrementCount">Click me</MudButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}